@model IEnumerable<MailManager.Web.ViewModel.MasterMailVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table table id="tblMail" class="table table-striped table-sm table-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailTo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailTo)
                </td>

            </tr>
        }
    </tbody>
</table>

<form method="post" action="@Url.Action("SendEmails")">
    <button onclick="sendEmails()" type="button" class="btn btn-primary">Send Email</button>
</form>



<script>
    function sendEmails() {
        $.ajax({
            url: '/Email/SendEmails',
            type: 'POST',
            dataType: 'json',  
            success: function (response) {
                if (response && response.message) {
                    alert(response.success ? response.message : "Error: " + response.message);
                } else {
                    alert("Error: Invalid response from server.");
                }
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", xhr.responseText);
                alert("Error: " + (xhr.responseJSON?.message || "Something went wrong while sending emails."));
            }
        });
    }


</script>
