@model IEnumerable<MailManager.Web.ViewModel.MasterMailVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table table id="reportTable" class="table table-striped table-sm table-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailTo)
            </th>
            <th>
                Time Send Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentOnUTC)
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="@Url.Action("SendEmails")">
    <div class="d-flex gap-2">
       
        <a href="/Home/Index" class="btn btn-danger w-20">Back to Home</a>
    </div>
</form>




<script>
    function sendEmails() {
        Swal.fire({
            title: 'Sending Emails...',
            text: 'Please wait while emails are being sent.',
            allowOutsideClick: false,
            showConfirmButton: false,
            willOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: '/Email/SendEmails',
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                Swal.close(); // Tutup loading

                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.message || 'Emails sent successfully.',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: response.message || 'An error occurred while sending emails.',
                        confirmButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    });
                }
            },
            error: function (xhr) {
                Swal.close(); // Tutup loading

                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: xhr.responseJSON?.message || 'Something went wrong while sending emails.',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
</script>

